<a class="btn btn-default" href="{% url 'note_edit' pk=note.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>

{% extends 'blog/base.html' %}

{% block content %}
    <div class="note">
        {% if note.published_date %}
            <div class="date">
                {{ note.published_date }}
            </div>
        {% endif %}
        <a class="btn btn-default" href="{% url 'note_edit' pk=note.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <h2>{{ note.title }}</h2>
        <p>{{ note.text|linebreaksbr }}</p>
    </div>
{% endblock %}